<%- include('partials/header') %>

    <h2>Aqui se agregan los comprobantes</h2>

    <ul>
        <% listaComprobantes.forEach(function(comprobante) { %>
            <li value="<%= comprobante._id %>">
                <%= comprobante.nombreProveedor %>
            </li>
            <% }); %>
    </ul>

    
    <a href="/">Volver</a>
<% // partials/footer.ejs %>