<%- include('partials/header') %>

    <h2>Modificar conceptos</h2>

   <ul>
        <% listaConceptos.forEach(function(conceptos) { %>
            <li value="<%= conceptos._id %>">
                <%= conceptos.nombreconceptos %>
            </li>
            <% }); %>
    </ul>


    
    <a href="/">Volver</a>
<% // partials/footer.ejs %>