<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobantes</title>
</head>

<body>
    <a href="/cuentas/:id">Agregar Cuenta</a>
    <h2>Cuentas</h2>
    <ul>
        <% listaCuentas.forEach(function(cuenta) { %>
            <li value="<%= cuenta._id %>">
                <%= cuenta.nombre %>
                    <%= cuenta.saldo %>
            </li>
            <% }); %>
    </ul>

    
    <a href="/">Volver</a>

</body>

</html>