<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Bienvenido <%= user.userName %></h1>
    
    <a href="/comprobantes">Agregar comprobantes</a>
    <a href="/settings">Configuracion</a>
    <form action="/cashFlow/crearCashFlow" method='POST'>
        <input type="date" placeholder="Fecha inicial" name='inicioCashFlow' id="inicio">
        <input type="date" placeholder="Fecha final" name='finCashFlow' id="final">
        <input type="submit" value="Ver CashFlow"> 
    </form>
    
    <ul>    
        <li>Cuenta1</li>
        <li>Otro Proveedor</li>
        <li>Un proveedor mas</li>
    </ul>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>
