<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Bienvenido <%= user.userName %></h1>
    
    <a href="/comprobantes">Agregar comprobantes</a>
    <a href="/settings">Configuracion</a>

    <h2>Crear Cash flow por período</h2>
    <form action="/cashFlow/crearCashFlow" method='POST'>
        <input type="date" placeholder="Fecha inicial" name='inicioCashFlow' id="inicio">
        <input type="date" placeholder="Fecha final" name='finCashFlow' id="final">
        <input type="submit" value="Ver CashFlow"> 
    </form>
    
    <h2>ver por proveedor</h2>
    <select name="lista" id="lista">
        <!--Crear lista con los items de mongodb-->
        <option value="" disabled selected>Que proveedor?</option>
        <option value="elohim">elohim</option>
    </select>


    <a href="/logout">Cerrar Sesión</a>

    <script src="js/main.js"></script>
</body>
</html>
