<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Settings Page</title>
</head>

<body>
    <h1>Settings Page</h1>
<form method="POST" action="/settings">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
        </div>
        <div>
            <label for="categoria">Categoría</label>
            <input type="text" name="categoria" id="categoria" required>
        </div>
        <div>
            <label for="saldo">Saldo Inicial</label>
            <input type="number" name="saldo" id="saldo" required>
        </div>
        <div>
            <label for="moneda">Moneda</label>
            <input type="text" name="moneda" id="moneda" required>
        </div>
        <div>
            <button type="submit">Agregar Proveedor</button>
        </div>
    </form>

    <h2>Lista de Proveedores</h2>
    <ul>
        <% listaProveedores.forEach(function(proveedor) { %>
            <li data-id="<%= proveedor._id %>">
                <strong>
                    <%= proveedor.nombreProveedor %>
                </strong>
                <%= proveedor.categoria %>
                <button class="fas fa-cog"></button>
                <button class="del" onclick="deleteProveedor(event)"><i class="fas fa-trash-alt"></i></button>
                
            </li>
            <% }); %>
    </ul>
    <a href="/main">Menu</a>
    <script src="js/main.js"></script>
</body>

</html>