<%- include('partials/header') %>

    <h2>¿Ya tienes cuenta?</h2>
    <a href="/login">Entrar!</a>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="Nombre de usuario">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
        <input type="submit" value="Ingresar">
    </form>
<% // partials/footer.ejs %>