/* Base */
a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

a:focus {
   outline: none;
}



/* Nav bar */

a.custom-link, a.nav-link {
    color: #24435D;
}
 a[aria-current="page"],  a.active, a.botones {
    background-color: #24435D !important;
 }
 .logout {
    margin-left: 25px;
    margin-top: 4px;
    border: 1px #24435D solid

 }
 a.logout {
    font-size: 0.8em;
 }


 /* main page */
 .account-name {
   color: #24435D;
 }

 .align-items-center {
    align-items: center;
 }
 .table-responsive {
    overflow-x: auto;
 }

 .mt-10 {
   margin-top: 5rem;
 }